[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "fonts/Office Code Pro"]
	path = fonts/Office Code Pro
	url = https://github.com/nathco/Office-Code-Pro
